   /* Cart Header */
   .cart-header {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #ddd;
    padding-bottom: 8px;
  }